In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("athlete_events.csv")

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
#Create a table grouped by Team, Year, and Medal to get medal counts.
countrygroupdf = df.groupby(["Team","Year","Medal"]).size()

In [9]:
countrygroupdf.head(50)

Team                          Year  Medal
A North American Team         1900  Bronze     4
Afghanistan                   2008  Bronze     1
                              2012  Bronze     1
Algeria                       1984  Bronze     2
                              1992  Bronze     1
                                    Gold       1
                              1996  Bronze     1
                                    Gold       2
                              2000  Bronze     3
                                    Gold       1
                                    Silver     1
                              2008  Bronze     1
                                    Silver     1
                              2012  Gold       1
                              2016  Silver     2
Ali-Baba II                   1948  Bronze     5
Amateur Athletic Association  1900  Gold       5
Amstel Amsterdam              1908  Bronze     4
Ancora                        1920  Gold       4
Angelita                      1932  Gold      12
Antwerpia V                   1920  Bronze     5
Aphrodite                     1964  Bronze     3
Argentina                     1924  Bronze     2
                                    Gold       5
                                    Silver     3
                              1928  Bronze     5
                                    Gold       3
                                    Silver    18
                              1932  Gold       3
                                    Silver     1
                              1936  Bronze     4
                                    Gold       5
                                    Silver     2
                              1948  Bronze     1
                                    Gold       3
                                    Silver     2
                              1952  Bronze     2
                                    Gold       2
                                    Silver     2
                              1956  Bronze     1
                                    Silver     1
                              1960  Bronze     1
                              1964  Silver     1
                              1968  Bronze     2
                              1972  Silver     1
                              1988  Bronze    12
                                    Silver     1
                              1992  Bronze     2
                              1996  Bronze     1
                                    Silver    19
dtype: int64

In [12]:
countrydf = pd.DataFrame(countrygroupdf).reset_index()

In [13]:
countrydf.head()

                    Team  Year   Medal  0
0  A North American Team  1900  Bronze  4
1            Afghanistan  2008  Bronze  1
2            Afghanistan  2012  Bronze  1
3                Algeria  1984  Bronze  2
4                Algeria  1992  Bronze  1

In [21]:
medalcountdf = countrydf.rename(columns={0:"Medal_Count"})

In [49]:
#Create a table grouped by Team, Year, and Medal to get medal counts.
namegroupdf = df.groupby(["Name","Sex","Team","Sport","Medal"]).size()

In [50]:
namedf = pd.DataFrame(namegroupdf).reset_index()

In [51]:
namedf.head()

,Name,Sex,Team,Sport,Medal,0
0,A. Albert,M,Union des Socits Franais de Sports Athletiques,Rugby,Gold,1
1,A. Dubois,M,Gitana-2,Sailing,Bronze,1
2,A. Dubois,M,Gitana-2,Sailing,Silver,1
3,"A. Joshua ""Josh"" West",M,Great Britain,Rowing,Silver,1
4,A. Lawry,M,Cornwall,Rugby,Silver,1

In [52]:
goldathletes = namedf[namedf["Medal"] == "Gold"].reset_index()

del goldathletes["index"]
goldathletesdf = goldathletes.rename(columns={0:"Medal_Count"})

goldathletesdf.sort_values(by=["Medal_Count"], ascending=False)

,Name,Sex,Team,Sport,Medal,Medal_Count
6741,"Michael Fred Phelps, II",M,United States,Swimming,Gold,23
7958,"Raymond Clarence ""Ray"" Ewry",M,United States,Athletics,Gold,10
7501,Paavo Johannes Nurmi,M,Finland,Athletics,Gold,9
5680,Larysa Semenivna Latynina (Diriy-),F,Soviet Union,Gymnastics,Gold,9
6440,Mark Andrew Spitz,M,United States,Swimming,Gold,9
2979,"Frederick Carlton ""Carl"" Lewis",M,United States,Athletics,Gold,9
9477,Usain St. Leo Bolt,M,Jamaica,Athletics,Gold,8
6594,"Matthew Nicholas ""Matt"" Biondi",M,United States,Swimming,Gold,8
4564,"Jennifer Elisabeth ""Jenny"" Thompson (-Cumpelik)",F,United States,Swimming,Gold,8
8508,Sawao Kato,M,Japan,Gymnastics,Gold,8
7333,Ole Einar Bjrndalen,M,Norway,Biathlon,Gold,8
1192,Borys Anfiyanovych Shakhlin,M,Soviet Union,Gymnastics,Gold,7
2195,"Donald Arthur ""Don"" Schollander",M,United States,Swimming,Gold,7
89,Aladr Gerevich (-Gerei),M,Hungary,Fencing,Gold,7
7210,Nikolay Yefimovich Andrianov,M,Soviet Union,Gymnastics,Gold,7
9667,Viktor Ivanovych Chukarin,M,Soviet Union,Gymnastics,Gold,7
9834,Vra slavsk (-Odloilov),F,Czechoslovakia,Gymnastics,Gold,7
5568,Kristin Otto,F,East Germany,Swimming,Gold,6
6339,Maria Valentina Vezzali,F,Italy,Fencing,Gold,6
87,Akinori Nakayama,M,Japan,Gymnastics,Gold,6
423,Allyson Michelle Felix,F,United States,Athletics,Gold,6
466,Amy Deloris Van Dyken (-Rouen),F,United States,Swimming,Gold,6
3263,Gert Fridolf Fredriksson,M,Sweden,Canoeing,Gold,6
1691,"Christopher Andrew ""Chris"" Hoy",M,Great Britain,Cycling,Gold,6
2314,Edoardo Mangiarotti,M,Italy,Fencing,Gold,6
9737,Vitaly Venediktovich Shcherbo,M,Unified Team,Gymnastics,Gold,6
7107,Nedo Nadi,M,Italy,Fencing,Gold,6
4467,Jason Francis Kenny,M,Great Britain,Cycling,Gold,6
8362,Rudolf Krpti,M,Hungary,Fencing,Gold,6
3241,Gerard Theodor Hubert Van Innis,M,Belgium,Archery,Gold,6
...,...,...,...,...,...,...
3881,Herbert Krug,M,West Germany,Equestrianism,Gold,1
3882,"Herbert Philip ""Bert"" Williams",M,Kathleen,Sailing,Gold,1
3883,"Herbert Roger ""Herb"" Morris",M,United States,Rowing,Gold,1
3884,Herbert Roper Barrett,M,Great Britain-1,Tennis,Gold,1
3885,Herbert Runge,M,Germany,Boxing,Gold,1
3886,Herbert Smith,M,Great Britain,Football,Gold,1
3887,Herbert Spencer Perry,M,Great Britain,Shooting,Gold,1
3888,"Herma Planck-Szabo (-Jarosz, -Stark)",F,Austria,Figure Skating,Gold,1
3889,Herman Andreas Nyberg,M,Kitty-1,Sailing,Gold,1
3891,Herman Georges Berger,M,France,Fencing,Gold,1
3892,"Herman Matinpoika ""Hermanni"" Pihlajamki",M,Finland,Wrestling,Gold,1
3876,Herbert Adamski,M,Germany,Rowing,Gold,1
3875,Heorhiy Vadymovych Pohosov,M,Unified Team,Fencing,Gold,1
3874,Henry Wittenberg,M,United States,Wrestling,Gold,1
3859,Henry Marvin Bailey,M,United States,Shooting,Gold,1
3853,Henry George,M,Belgium,Cycling,Gold,1
3854,"Henry Jean Guy ""Jean-Guy"" Gautier",M,Union des Socits Franais de Sports Athletiques,Rugby,Gold,1
3855,"Henry John ""Harry"" Spanjer",M,United States,Boxing,Gold,1
3856,"Henry Kent Mitchell, II",M,United States,Rowing,Gold,1
3857,Henry Louis Scott,M,United States,Athletics,Gold,1
3858,Henry Maitland Macintosh,M,Great Britain,Athletics,Gold,1
3860,Henry Maske,M,East Germany,Boxing,Gold,1
3871,Henry Treise Morshead,M,Great Britain,Alpinism,Gold,1
3862,"Henry Morton ""Harry"" Llewellyn",M,Great Britain,Equestrianism,Gold,1
3863,Henry North Haslam,M,Upton Park FC,Football,Gold,1
3864,"Henry Norwood ""Barney"" Ewell",M,United States,Athletics,Gold,1
3867,Henry Seiling,M,Milwaukee Athletic Club-1,Tug-Of-War,Gold,1
3868,"Henry Stoddard ""Harry"" Babcock",M,United States,Athletics,Gold,1
3870,"Henry Thomas ""Harry"" Blackstaffe",M,Great Britain,Rowing,Gold,1
10574,ystein Pettersen,M,Norway,Cross Country Skiing,Gold,1